logs/

screenshots/

local/client/

\.mixin\.out/

/saves

/downloads

/resourcepacks

\.curseclient

options\.txt

crash-reports/

mputils/settings\.dat

usercache\.json

usernamecache\.json

patchouli_data\.json

minecraftinstance\.json

scripts/*.zsrc

config/jei/**

config/InvTweaks/**

mods/

*.log

\.ReAuth\.cfg
