#Adds dimensions
addDimension(10)

#Sets the dimension definition for dimensions
setScriptForDimension(10, "defiled")

#Sets custom portals between dimensions 0-60 and 0-61.
#PortalID, DimensionID1, DimensionID2, PortalBorderBlock, Portal Border Block Meta
setPortal(0, 0, 10, "forbidden_arcanus:runic_carved_dark_stone_bricks")
setPortalIgniter(0, "evilcraft:environmental_accumulation_core")
