# Configuration file

general {

    ##########################################################################################################
    # imbued fire transformations
    #--------------------------------------------------------------------------------------------------------#
    # Used to modify block transforms for Imbued Fires.
    # Use the format 'modid:blockIn, modid:blockOut'
    ##########################################################################################################

    "imbued fire transformations" {
        S:"Fire Imbued Fire" <
            minecraft:grass,minecraft:netherrack
            minecraft:dirt,minecraft:netherrack
            minecraft:sand,minecraft:soul_sand
            minecraft:gravel,minecraft:soul_sand
            minecraft:clay,minecraft:glowstone
         >
        S:airTransforms <
            minecraft:grass,minecraft:sand
            minecraft:dirt,minecraft:sand
            minecraft:log,minecraft:sand
            minecraft:leaves,minecraft:sand
            minecraft:ice,minecraft:glass
            minecraft:water,minecraft:cake
         >
        S:earthTransforms <
            minecraft:cobblestone,minecraft:dirt
            minecraft:stone,minecraft:dirt
            minecraft:sand,minecraft:dirt
            minecraft:glass,minecraft:dirt
            minecraft:log,minecraft:dirt
            minecraft:log2,minecraft:dirt
            minecraft:leaves,minecraft:dirt
            minecraft:leaves2,minecraft:dirt
            minecraft:planks,minecraft:dirt
            minecraft:snow_layer,minecraft:tallgrass
            minecraft:gravel,minecraft:clay
            minecraft:cactus,minecraft:log
            minecraft:nether_brick,minecraft:planks
            minecraft:nether_brick_fence,minecraft:fence
            minecraft:nether_brick_stairs,minecraft:oak_stairs
            minecraft:mob_spawner,minecraft:iron_block
         >
        S:orderTransforms <
            minecraft:iron_ore,minecraft:iron_block
            minecraft:coal_ore,minecraft:coal_block
            minecraft:redstone_ore,minecraft:redstone_block
            minecraft:lapis_ore,minecraft:lapis_block
            minecraft:quartz_ore,minecraft:quartz_block
            minecraft:gold_ore,minecraft:gold_block
            minecraft:diamond_ore,minecraft:diamond_block
            minecraft:emerald_ore,minecraft:emerald_block
            minecraft:sand,minecraft:glass
         >
        S:perditionTransforms <
            minecraft:stone,minecraft:cobblestone
         >
        S:waterTransforms <
            minecraft:netherrack,minecraft:snow
            minecraft:glowstone,minecraft:ice
            minecraft:soul_sand,minecraft:ice
            minecraft:sand,minecraft:ice
            minecraft:lava,minecraft:obsidian
         >
        S:wrathTransforms <
            minecraft:iron_block,minecraft:lapis_block
         >
    }

    ##########################################################################################################
    # passive flower settings
    #--------------------------------------------------------------------------------------------------------#
    # Settings for Daybloom and Nightshade.
    ##########################################################################################################

    "passive flower settings" {
        # Increasing this makes dayblooms and nightshades create more frequent particle bursts.
        # Set to 0 to disable.
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:burstParticleRate=0.5

        # The mana generated per burst by the daybloom.
        # For reference, the hydroangea generates 1 mana per burst, i.e. every 3 ticks.
        # Set to 0 to disable mana generation.
        # Min: 0
        # Max: 2147483647
        I:daybloomMana=1

        # Increase this to spawn more particles per burst.
        # Min: 0
        # Max: 2147483647
        I:maxBurstParticles=20

        # Mana generated per burst by the nightshade.
        # Min: 0
        # Max: 2147483647
        I:nightshadeMana=1
    }

    ##########################################################################################################
    # miscellaneous settings
    #--------------------------------------------------------------------------------------------------------#
    # Stuff what I can't group easy.
    ##########################################################################################################

    "miscellaneous settings" {
        # Chickens spawned per bomb.
        I:clucksPerBomb=64
    }

}


